{% extends 'base.html' %}


{% block scripts %}

<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
<link  media="screen" rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery.selectareas.css')}} ">
{% endblock %}
{% block header %}
  <h1>{% block title %}label{% endblock %}</h1>
  {% if g.user %}
  <ul class="breadcrumb">
      <li><a href="{{ url_for('label.mainpage') }}">go to classify</a></li>
      <li><a  href="{{ url_for('label.annotation') }}">go to draw bounding box</a></li>
      
  </ul>
  {% endif %}

{% endblock %}

{% block content %}

  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <h1>{{ post['title'] }}</h1>
          <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
       
      </header>
      <p class="body">{{ post['body'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}