{% extends 'base.html' %}

{% block content %}
<script src="/static/jquery-3.2.1.js" type="text/javascript"></script>	
<script src="/static/jquery.selectareas.js" type="text/javascript"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
<link  media="screen" rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery.selectareas.css')}} ">

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <img id="img" class="img-responsive"src="{{ file }}"/>
   
      <div class="form-inline" >
          <label >pic number:</label>
          <label id="img_id">{{ id }}</label>
          <label >Category：</label>
          <label id="category"for="title"> {{ post['title'] }}</label>
        
        <input type="text" class="form-control"  name="title" id="title" value="" required placeholder="请输入分类">
       <button id="submit" class="btn btn-default">提交</button>
  </div>
  <div>

    <button type="button" id="livingroom"  class="btn btn-primary">living room</button>
    <button type="button" id="bedroom" class="btn btn-primary">bedroom</button>
    <button type="button" id="kitchen"class="btn btn-primary">kitchen</button>
    <button type="button" id="restroom"class="btn btn-primary">restroom</button>
    <button type="button" id="others"class="btn btn-primary">others</button>
    <button type="button" id="undefined"class="btn btn-primary">undefined</button>
  </div>

  <div>

    <button type="button" id="livingroom-major"  class="btn btn-primary">living room-major</button>
    <button type="button" id="bedroom-major"class="btn btn-primary">bedroom-major</button>
    <button type="button" id="kitchen-major"class="btn btn-primary">kitchen-major</button>
    <button type="button" id="restroom-major"class="btn btn-primary">restroom-major</button>
    <button type="button" id="study"class="btn btn-primary">study</button>
    <button type="button" id="kidsroom"class="btn btn-primary">kids' room</button>
    <button type="button" id="balcony"class="btn btn-primary">balcony</button>
    <button type="button" id="corridor"class="btn btn-primary">corridor</button>
  </div>
  {% if post['title'] %}
  <button type="button" id="nextpic"  class="btn btn-primary">下一张图片</button>
  {% endif %}
  
  <button type="button" id="formerpic"  class="btn btn-primary">上一张图片</button>
 
  <button type="button" id="goindex"  class="btn btn-primary">go to index</button>
 
{% endblock %}


{% block scripts %}
{{ super() }}


<script type="application/javascript" >
   $(document).ready(function () {
     var id=  new Number($('#img_id').html().trim());
     var title=$("#title ").val();

     $('#submit').click(function () {
      id=Number($('#img_id').html().trim());
      title=$("#title ").val();
      $.post("{{ url_for('label.mainpage') }}",
      {
       title:title,
       id:id
      },
      function(data,status){
      });
      loadImage(id+1);
      loadPost(id+1);
    });
    $('#kidsroom').click(function () {
      id=Number($('#img_id').html().trim());
      $.post("{{ url_for('label.mainpage') }}",
      {
       title:"kid's room",
       id:id
      },
      function(data,status){
      });
      loadImage(id+1);
      loadPost(id+1);
    });
    
    $('#corridor').click(function () {
      id=Number($('#img_id').html().trim());
      $.post("{{ url_for('label.mainpage') }}",
      {
       title:"corridor",
       id:id
      },
      function(data,status){
      });
      loadImage(id+1);
      loadPost(id+1);
    });
    $('#balcony').click(function () {
      id=Number($('#img_id').html().trim());
      $.post("{{ url_for('label.mainpage') }}",
      {
       title:"balcony",
       id:id
      },
      function(data,status){
      });
      loadImage(id+1);
      loadPost(id+1);
    });
    $('#study').click(function () {
      id=Number($('#img_id').html().trim());
      $.post("{{ url_for('label.mainpage') }}",
      {
       title:"study",
       id:id
      },
      function(data,status){
      });
      loadImage(id+1);
      loadPost(id+1);
    });
    $('#livingroom').click(function () {
      id=Number($('#img_id').html().trim());
      $.post("{{ url_for('label.mainpage') }}",
      {
       title:"living room",
       id:id
      },
      function(data,status){
      });
      loadImage(id+1);
      loadPost(id+1);
    });
    $('#livingroom-major').click(function () {
      id=Number($('#img_id').html().trim());
      $.post("{{ url_for('label.mainpage') }}",
      {
       title:"living room-major",
       id:id
      },
      function(data,status){
      });
      loadImage(id+1);
      loadPost(id+1);
    });
    $('#bedroom').click(function () {
      id=Number($('#img_id').html().trim());
      $.post("{{ url_for('label.mainpage') }}",
      {
       title:"bedroom",
       id:id
      },
      function(data,status){
      });
      loadImage(id+1);
      loadPost(id+1);
    });
    $('#bedroom-major').click(function () {
      id=Number($('#img_id').html().trim());
      $.post("{{ url_for('label.mainpage') }}",
      {
       title:"bedroom-major",
       id:id
      },
      function(data,status){
      });
      loadImage(id+1);
      loadPost(id+1);
    });
    $('#kitchen').click(function () {
      id=Number($('#img_id').html().trim());
      $.post("{{ url_for('label.mainpage') }}",
      {
       title:"kitchen",
       id:id
      },
      function(data,status){
      });
      loadImage(id+1);
      loadPost(id+1);
    });
    $('#kitchen-major').click(function () {
      id=Number($('#img_id').html().trim());
      $.post("{{ url_for('label.mainpage') }}",
      {
       title:"kitchen-major",
       id:id
      },
      function(data,status){
      });
      loadImage(id+1);
      loadPost(id+1);
    });
    $('#restroom').click(function () {
      id=Number($('#img_id').html().trim());
      $.post("{{ url_for('label.mainpage') }}",
      {
       title:"restroom",
       id:id
      },
      function(data,status){
      });
      loadImage(id+1);
      loadPost(id+1);
    });
    
    $('#restroom-major').click(function () {
      id=Number($('#img_id').html().trim());
      $.post("{{ url_for('label.mainpage') }}",
      {
       title:"restroom-major",
       id:id
      },
      function(data,status){
      });
      loadImage(id+1);
      loadPost(id+1);
    });

    $('#others').click(function () {
      id=Number($('#img_id').html().trim());
      $.post("{{ url_for('label.mainpage') }}",
      {
       title:"others",
       id:id
      },
      function(data,status){
      });
      loadImage(id+1);
      loadPost(id+1);
    });
    $('#undefined').click(function () {
      id=Number($('#img_id').html().trim());
      $.post("{{ url_for('label.mainpage') }}",
      {
       title:"undefined",
       id:id
      },
      function(data,status){
      });
      loadImage(id+1);
      loadPost(id+1);
    });
    $('#nextpic').click(function () {
      id=Number($('#img_id').html().trim());
      loadImage(id+1);
      loadPost(id+1);
    });
    $('#formerpic').click(function () {
      id=Number($('#img_id').html().trim());
      if(id!=0)
      {
      loadImage(id-1);
      loadPost(id-1);
      }
    });
    $('#goindex').click(function () {
      
      window.location.href ="{{ url_for('label.index') }}";
    });
  });

  function loadImage(id)
  {
	  console.log("INFO: " + "loadImage() from py"); 
    console.log(id);
	  $.ajax({
			type: 'POST',
			url: "{{ url_for('label.getNewImage') }}",
      data:{'id': id},
      cache:false, 
			dataType: "json",
			success: function(data)
					 {    var dataObj=eval("("+data+")");
              if(id!=dataObj.url){
						  $('#img').attr("src",dataObj.url);
              $("#img_id").html(id);
              }
						 },
			dataType: 'html'
		});
	}
  function loadPost(id)
  {
	  console.log("INFO: " + "loadPost() from py"); 
    
	  $.ajax({
			type: 'POST',
			url: "{{ url_for('label.getPost') }}",
      data:{'id': id},
      cache:false, 
			dataType: "json",
			success: function(data)
					 {    var dataObj=eval("("+data+")");
              $("#category").html(dataObj.label);
              console.log(dataObj.label); 
						 },
			dataType: 'html'
		});
	}

</script>
 {% endblock %}