{% extends 'base.html' %}

{% block header %}
    <p> </p>
{% endblock %}

{% block content %}

<ul>
    <img src="{{ file }}"/>
    
<div>
</div>

</article>
  <form method="post">
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <input type="submit" value="Save">
  </form>

  <a class="action" href="{{ url_for('label.mainpage', id=id+1) }}">下一张图片</a>
  <a class="action" href="{{ url_for('label.mainpage', id=id-1) }}">上一张图片</a>


{% endblock %}

{% block scripts %}
{{ super() }}


<script type="application/javascript" >
  function myFunction(){
   
  }
</script>
 {% endblock %}