<!doctype html>

<script src="/static/jquery-3.2.1.js" type="text/javascript"></script>	
<script src="/static/jquery.selectareas.js" type="text/javascript"></script>
<script src="/static/jquery.easy-autocomplete.js" type="text/javascript"></script>

<script src="/static/bootstrap/js/bootstrap.min.js"></script>

<nav>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>

{% block scripts %}


{% endblock %}